{% extends 'base.html' %}
{% load static %}
{% load compress %}

{% block content %}



<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main min-vh-100" id="top">


    <!-- ============================================-->
    <!-- Preloader ==================================-->
    <div class="preloader" id="preloader">
        <div class="loader">
        <div class="line-scale-pulse-out-rapid">
            <div> </div>
            <div></div>
            <div></div>
            <div></div>
            <div> </div>
        </div>
        </div>
    </div>
    <!-- ============================================-->
    <!-- End of Preloader ===========================-->

    <div class="p-0 min-vh-100" id="StudioHeader" data-zanim-lg='{"delay":0.6,"animation":"zoom-out"}' data-zanim-trigger="scroll">
        <div class="swiper-container theme-slider swiper-theme swiper-theme" data-swiper='{"autoplay":{"delay":5000,"disableOnInteraction":false},"loop":true,"effect":"fade","breakpoints":{"768":{"autoplay":false}},"pagination":{"el":".swiper-pagination","clickable":true,"type":"bullets"}}'>
          <div class="swiper-wrapper">
            <div class="swiper-slide">


              <!-- ============================================-->
              <!-- <section> begin ============================-->
              <section class="py-0" data-zanim-timeline="{}" data-zanim-trigger="scroll">


                <div class="bg-holder" style="background-image:url({% static 'img/intro_2.png' %});">
                </div>

                <div class="container">
                  <div class="row min-vh-100 align-items-center py-8">
                    <div class="col-lg-8">
                      <div class="overflow-hidden">
                        <h1 class="fs-4 fs-md-5 display-4 text-white" data-zanim-xs='{"delay":0.8}'>Money Moves Investments</h1>
                      </div>
                      <div class="overflow-hidden">
                        <br>
                        <p class="text-white fst-italic mt-5" data-zanim-xs='{"delay":0.9}'>Disrupting the Algorithmic Trading industry to make US succeed</p>
                        <br>
                        <p class="text-white fst-italic mt-5" data-zanim-xs='{"delay":0.9}'>Learn how to use algorithms to make more educated-less impulsive decisions in the markets.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end of .container-->

              </section>
              <!-- <section> close ============================-->
              <!-- ============================================-->


            </div>
            <div class="swiper-slide">


              <!-- ============================================-->
              <!-- <section> begin ============================-->
              <section class="py-0" data-zanim-timeline="{}" data-zanim-trigger="scroll">

                <div class="bg-holder" style="background-image:url({% static 'img/intro_5.png' %});">
                </div>
                <!--/.bg-holder-->

                <div class="container">
                  <div class="row min-vh-100 align-items-center py-8">
                    <div class="col-lg-8">
                      <div class="overflow-hidden">
                        <h1 class="fs-4 fs-md-5 display-4 text-white" data-zanim-xs='{"delay":0.8}'>Money Moves Investments Sigma Algo</h1>
                      </div>
                      <div class="overflow-hidden">
                        <div class="row" data-zanim-xs='{"delay":0.1}'>
                          <div class="col-lg-8">
                            <br>
                            <p class="text-white fst-italic mt-5" data-zanim-xs='{"delay":0.9}'>Our Powerful And Professional Renko Based Algo</p>
                            <br>
                            <p class="text-white fst-italic mt-5" data-zanim-xs='{"delay":0.9}'><small>MT5 EA Version Available Now! What are you waiting? <a href="#" >Learn More!</a> </small></p>
                          </div>
                        </div>
                      </div>
                      <div data-zanim-xs='{"delay":0.2}'><a class="btn btn-outline-light border-white btn-sm mt-5" href="#!">Learn more</a></div>
                    </div>
                  </div>
                </div>
                <!-- end of .container-->

              </section>
              <!-- <section> close ============================-->
              <!-- ============================================-->


            </div>
            <div class="swiper-slide">


              <!-- ============================================-->
              <!-- <section> begin ============================-->
              <section class="py-0" data-zanim-timeline="{}" data-zanim-trigger="scroll">

                <div class="bg-holder overlay overlay-0" style="background-image:url({% static 'img/nbarlogo.jpg' %});">
                </div>
                <!--/.bg-holder-->

                <div class="container">
                  <div class="row min-vh-100 align-items-center py-8">
                    <div class="col-lg-8">
                      <div class="overflow-hidden">
                        <h1 class="fs-4 fs-md-5 display-4 text-white" data-zanim-xs='{"delay":0}'>Money Moves Investments Services</h1>
                      </div>
                      <div class="overflow-hidden">
                        <div class="row" data-zanim-xs='{"delay":0.1}'>
                          <div class="col-lg-8">
                            <p class="text-300 font-sans-serif mt-4">We offer Memberships to our Trading Systems, Mentorship and much more.</p>
                          </div>
                        </div>
                      </div>
                      <div data-zanim-xs='{"delay":0.2}'><a class="btn btn-outline-light border-white btn-sm mt-5 outline-none" href="#!"> Learn more</a></div>
                    </div>
                  </div>
                </div>
                <!-- end of .container-->

              </section>
              <!-- <section> close ============================-->
              <!-- ============================================-->


            </div>
          </div>
          <div class="swiper-pagination d-md-none"></div>
          <div class="swiper-nav">
            <div class="swiper-button-next me-md-3"></div>
          </div>
        </div>
      </div>

    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section id="StudioFeatures">

        <div class="container">
            <div class="row">

                <div class="col-md-6 col-lg"><img class="rounded img-fluid" src="{% static 'img/intro.png' %}" alt="" data-zanim-xs='{"delay":0.1,"animation":"zoom-in"}' data-zanim-trigger="scroll" />
                    <div class="overflow-hidden" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                        <h4 class="mt-4 mb-2" data-zanim-xs='{"delay":0.2,"animation":"slide-right"}'>Who We Are</h4>
                        <p data-zanim-xs='{"delay":0.3,"animation":"slide-right"}'>For years, we researched markets and found our edge in algorithms, which is our Trading way. Every day, we plan, build and upgrade our Trading Systems. We always keep improving, because we want you to succeed with them, if you wish.</p>
                        <div data-zanim-xs='{"delay":0.4,"animation":"slide-right"}'><a class="btn btn-link ps-0 text-black fw-bold outline-none" href="#!">About Us</a></div>
                    </div>
                </div>

                <div class="col-md-6 col-lg mt-6 mt-md-0"><img class="rounded img-fluid" src="{% static 'img/intro_4.png' %}" alt="" data-zanim-xs='{"delay":0.1,"animation":"zoom-in"}' data-zanim-trigger="scroll" />
                    <div class="overflow-hidden" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                        <h4 class="mt-4 mb-2" data-zanim-xs='{"delay":0.2,"animation":"slide-right"}'>Highly Customizable Systems</h4>
                        <p data-zanim-xs='{"delay":0.3,"animation":"slide-right"}'>Our goal is to teach you how to study and use our tools, to make you capable of finding profitability and consistency with them.<br>This is why our Trading Systems are completely customizable in order to make them match your trading style.</p>
                        <div data-zanim-xs='{"delay":0.4,"animation":"slide-right"}'><a class="btn btn-link ps-0 text-black fw-bold outline-none" href="#!">Start Studying</a></div>
                    </div>
                </div>

                <div class="col-md-6 col-lg mt-6 mt-lg-0"><img class="rounded img-fluid" src="{% static 'img/intro_5.png' %}" alt="" data-zanim-xs='{"delay":0.1,"animation":"zoom-in"}' data-zanim-trigger="scroll" />
                    <div class="overflow-hidden" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                        <h4 class="mt-4 mb-2" data-zanim-xs='{"delay":0.2,"animation":"slide-right"}'>Become PRO</h4>
                        <p data-zanim-xs='{"delay":0.3,"animation":"slide-right"}'>Join one of our subscription plans to be part of our Algorithmic Trading revolution.</p>
                        <div data-zanim-xs='{"delay":0.4,"animation":"slide-right"}'><a class="btn btn-link ps-0 text-black fw-bold outline-none" href="#!">Subscribe to PRO</a></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->




    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="py-8 py-lg-11 text-center overflow-hidden" id="StudioBanner">

        <div class="bg-holder overlay overlay-2 " style="background-image:url({% static 'img/home/MMI_home1.png' %});" data-parallax="" data-rellax-percentage="0.5" data-rellax-speed="-3">
        </div>
        <!--/.bg-holder-->

        <div class="container">
        <div class="row">
            <div class="col overflow-hidden">
            <h1 class="fs-4 fs-md-5 text-white display-4" data-zanim-xs='{"delay":0.1}' data-zanim-trigger="scroll">high-quality performers built from thousands of hours of research ready for your charts.</h1>
            </div>
        </div>
        </div>
        <!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->



    

    
    <section class ="py-0">
      <div class="container-fluid px-4">
        <form class="mt-5" method="POST" action={% url 'home:home' %} >
          {% csrf_token %}
          <div class="row mb-5">
            <div class="col-md-4">
              

                <div class="card"><a class="overflow-hidden" href="#!"><img class="card-img-top" src="{% static 'img/nbarlogo.jpg' %}" alt="Card image cap"></a>
                  <div class="card-body"><a class="text-1000" href="#!">
                    <h5 class="card-title">MM Bundle: Full Automation Smallest Latency.</h5>
                  </a>
                  <div class="accordion" id="accordionExamplef">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingf">
                        <button class="accordion-button fw-black collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsef" aria-expanded="false" aria-controls="collapsef"> What Do You Get?</button>
                      </h2>
                      <div class="accordion-collapse collapse" id="collapsef" aria-labelledby="heading1" data-bs-parent="#accordionExamplef" style="">
                        <div class="accordion-body">
                          <p class="card-text text-1000 font-sans-serif">
                            MMI Sigma Algo <small class="text-gold">New! </small> <br>
                            MMI Sigma Algo MT5 EA<small class="text-gold">New! </small> <br>
                            MMI Day Trading Course <br>
                            MMI Strategies <br>
                            MMI Prop Algos &amp; Indicators And TV Bots <br>
                            MMI Copy Trader <br>
                            MMI Signal Service <br>
                            Weekly Zoom Calls &amp; Live Trading <br>  
                            MMI Private Members Discord <br>
          
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="heading2">
                        <button class="accordion-button fw-black collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsef_" aria-expanded="false" aria-controls="collapsef_"> Pricing</button>
                      </h2>
                      <div class="accordion-collapse collapse" id="collapsef_" aria-labelledby="heading2" data-bs-parent="#accordionExamplef" style="">
                        <div class="accordion-body">
                          <p class="card-text text-1000 font-sans-serif">
                            We offer different Subscription Plans in order to fulfill different needs and to build a strong Community. The longest the period of your Subscription, the more discount you get. This way we are able to reward trust that people have on us. <br><br>
                            <h6>Pricing:</h6><br>
                            
                            Monthly  =  200$ <br>
                            3 Months  =  480$ <br>
                            6 Months  =  900$ <br>
                            Yearly  =  1680$ <br>
                            Lifetime  =  1680$ <br>

                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <br>
                  <br>
                  <h6 class="text-danger">Join Now And Boost Your Edge!</h6>
                  <br>
                  <br>

                  <select name="dd_mmbundle" value="{{ data.dd_mmbundle }}" class="form-select fs-0 border-800 bg-transparent">
                    <option selected="1">Monthly</option>
                    <option value="2">3 Months</option>
                    <option value="3">6 Months</option>
                    <option value="4">Yearly</option>
                    <option value="5">Lifetime</option>
                  </select>

                  <br>
                  <br>
                  <input class="btn btn-primary" type="submit" name="btn_mmbundle" value="Buy Now" /> 
                </div>
                


                </div>

                
            </div>

            <div class="col-md-4">

                <div class="card"><a class="overflow-hidden" href="#!"><img class="card-img-top" src="{% static 'img/nbarlogo.jpg' %}" alt="Card image cap"></a>
                  <div class="card-body"><a class="text-1000" href="#!">
                    <h5 class="card-title">MM Algo Suite: Most Efficient TV Automation.</h5>
                  </a>
                  <div class="accordion" id="accordionExamples">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="heading1">
                        <button class="accordion-button fw-black collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsest" aria-expanded="false" aria-controls="collapsest"> What Do You Get?</button>
                      </h2>
                      <div class="accordion-collapse collapse" id="collapsest" aria-labelledby="heading1" data-bs-parent="#accordionExamples" style="">
                        <div class="accordion-body">
                          <p class="card-text text-1000 font-sans-serif">
                            MMI Sigma Algo <small class="text-gold">New! </small> <br>
                            MMI Day Trading Course <br>
                            MMI Strategies <br>
                            MMI Prop Algos &amp; Indicators And TV Bots <br>
                            MMI Signal Service <br>
                            Weekly Zoom Calls &amp; Live Trading <br>  
                            MMI Private Members Discord <br>
          
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="heading2">
                        <button class="accordion-button fw-black collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsest_" aria-expanded="false" aria-controls="collapsest_"> Pricing</button>
                      </h2>
                      <div class="accordion-collapse collapse" id="collapsest_" aria-labelledby="heading2" data-bs-parent="#accordionExamples" style="">
                        <div class="accordion-body">
                          <p class="card-text text-1000 font-sans-serif">
                            We offer different Subscription Plans in order to fulfill different needs and to build a strong Community. The longest the period of your Subscription, the more discount you get. This way we are able to reward trust that people have on us. <br><br>
                            <h6>Pricing:</h6><br>
                            
                            Monthly  =  150$ <br>
                            3 Months  =  360$ <br>
                            6 Months  =  675$ <br>
                            Yearly  =  1260$ <br>
                            Lifetime  =  2000$ <br>

                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <br>
                  <br>
                  <h6 class="text-danger">Join Now And Boost Your Edge!</h6>
                  <br>
                  <br>

                  <select name="dd_mmsuite" value="{{ data.dd_mmsuite }}"  class="form-select fs-0 border-800 bg-transparent">
                    <option selected="1">Monthly</option>
                    <option value="2">3 Months</option>
                    <option value="3">6 Months</option>
                    <option value="4">Yearly</option>
                    <option value="5">Lifetime</option>
                  </select>

                  <br>
                  <br>
                  <input class="btn btn-primary" type="submit" name="btn_mmsuite" value="Buy Now" /> 
                </div>
                


                </div>
              
              
            </div>

            <div class="col-md-4">

                <div class="card"><a class="overflow-hidden" href="#"><img class="card-img-top" src="{% static 'img/nbarlogo.jpg' %}" alt="Card image cap"></a>
                  <div class="card-body"><a class="text-1000" href="#!">
                    <h5 class="card-title">MM Sigma Algo: Renko Based Best Performer.</h5>
                  </a>
                  <div class="accordion" id="accordionExamplet">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="heading1">
                        <button class="accordion-button fw-black collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseff" aria-expanded="false" aria-controls="collapseff"> What Do You Get?</button>
                      </h2>
                      <div class="accordion-collapse collapse" id="collapseff" aria-labelledby="heading1" data-bs-parent="#accordionExamplet" style="">
                        <div class="accordion-body">
                          <p class="card-text text-1000 font-sans-serif">
                            MMI Sigma Algo <small class="text-gold">New! </small> <br>
                            MMI Sigma Algo MT5 EA <small class="text-gold">New! </small> <br>
                            <small class="text-danger"> You will only have access to the MM Sigma Algo - not the MM Sigma Trading Bot or any other MMI algorithms, indicators, or products and services included in the Elite MM Bundle or Premium Indicator & Algo Suite.</small>
                            
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="heading2">
                        <button class="accordion-button fw-black collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseff2" aria-expanded="false" aria-controls="collapseff2"> Pricing</button>
                      </h2>
                      <div class="accordion-collapse collapse" id="collapseff2" aria-labelledby="heading2" data-bs-parent="#accordionExamplet" style="">
                        <div class="accordion-body">
                          <p class="card-text text-1000 font-sans-serif">
                            We offer different Subscription Plans in order to fulfill different needs and to build a strong Community. The longest the period of your Subscription, the more discount you get. This way we are able to reward trust that people have on us. <br><br>
                            <h6>Pricing:</h6><br>
                            
                            Monthly  =  99$ <br>
                            3 Months  =  259$ <br>
                            6 Months  =  539$ <br>
                            Yearly  =  1079$ <br>
                            Lifetime  =  1600$ <br>

                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <br>
                  <br>
                  <h6 class="text-danger">Join Now And Boost Your Edge!</h6>
                  <br>
                  <br>

                  <select name="dd_mmsigma" value="{{ data.dd_mmsigma }}"  class="form-select fs-0 border-800 bg-transparent">
                    <option selected="1">Monthly</option>
                    <option value="2">3 Months</option>
                    <option value="3">6 Months</option>
                    <option value="4">Yearly</option>
                    <option value="5">Lifetime</option>
                  </select>

                  <br>
                  <br>
                  <input class="btn btn-primary" type="submit" name="btn_mmsigma" value="Buy Now" /> 
                </div>
                


                </div>
              
            </div>

          </div>
        </form>
      </div>
    </section>


    
    


    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="py-8 py-lg-11 text-center overflow-hidden" id="Studio-Funfact">

        <div class="bg-holder overlay overlay-1 parallax" style="background-image:url({% static 'img/Products/mm_p5.png' %});" data-parallax="" data-rellax-percentage="0.5" data-rellax-speed="-3">
        </div>
        <!--/.bg-holder-->

        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                <div class="text-white"><span class="font-sans-serif fw-bold display-4" data-countup='{"endValue":"9"}'>9</span>
                    <p class="fst-italic">Algorithms designed until now.</p>
                </div>
                </div>
                <div class="col-lg-3 col-sm-6 mt-3 mt-sm-0">
                <div class="text-white"><span class="font-sans-serif fw-bold display-4" data-countup='{"endValue":"250"}'>250</span>
                    <p class="fst-italic">And more hours of research we spent in making each one of them</p>
                </div>
                </div>
                <div class="col-lg-3 col-sm-6 mt-3 mt-lg-0">
                <div class="text-white"><span class="font-sans-serif fw-bold display-4" data-countup='{"endValue":"2"}'>2</span>
                    <p class="fst-italic">Execution Platforms</p>
                </div>
                </div>
                <div class="col-lg-3 col-sm-6 mt-3 mt-lg-0">
                <div class="text-white"><span class="font-sans-serif fw-bold display-4" data-countup='{"endValue":"800"}'>800</span>
                    <p class="fst-italic">And more Community members.</p>
                </div>
                </div>
            </div>
        </div>
        <!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->



    <!-- ============================================-->
    <!-- <section> begin ============================-->
      <section id="StudioFeatures1">

        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-lg-9 col-xl-8">
                <h2 class="text-decoration-underline mb-3 fs-3 fs-sm-4">Build Or Improve Your Trading</h2>
                <p class="lead text-500 fst-italic">Our Trading Systems represent an unique edge you can succeed with or that you can add to yours.</p>
                </div>
            </div>
            <div class="row pt-6">
                <div class="col-md-6 col-lg pe-md-6"><img src="{% static 'img/favicons/icon_homeupgrade.svg' %}" alt="" height="70" />
                <h3 class="mt-4 mb-2">Upgrade.</h3>
                <p class="text-justify">If you don't know about Algorithmic Trading, watch our free content starting from <a href="#">here</a>. Learn first about the fundamentals and our Trading Systems, then if they match what you're looking for <a href="#">Subsribe To PRO</a>.</p>
                <h4 class="mt-4">Learn About:</h4>
                <ul class="bullet-inside ps-0 font-sans-serif">
                    <li>What Algorithmic Trading Is</li>
                    <li>What Are Our Trading Systems</li>
                    <li>Our Money Management</li>
                    <li>How To Win Prop Firm Challenges with the MM Sigma Algo</li>
                    <li>Tutorials About Each One Of Our Trading Systems</li>
                </ul>
                </div>
                <div class="col-md-6 col-lg mt-6 mt-md-0 pe-md-6"><img src="{% static 'img/favicons/icon_homediversify.svg' %}" alt="" height="70" />
                <h3 class="mt-4 mb-2">Diversify Your Edge</h3>
                <p class="text-justify">Scale-up your diversification with our Trading Systems, as they can adapt to each symbol, despite of the class or geography.</p>
                
                </div>
                <div class="col-md-6 col-lg mt-6 mt-lg-0 pe-md-6"><img src="{% static 'img/favicons/icon_homeautomation.svg' %}" alt="" height="70" />
                <h3 class="mt-4 mb-2">Automate Your Income</h3>
                <p class="text-justify">Tired of having to stare at charts to trade? The MMI Trading Systems can fully automate your Trading.</p>
                
                </div>
            </div>
        </div>
        <!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->





    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section id="StudioPartners">

        <div class="container">
            <div class="row">
                <div class="col-12">
                <h1 class="mb-7 text-decoration-underline">Execution Platforms</h1>
                </div>
                <div class="col-lg-6 pe-lg-6">
                <div class="d-flex align-items-center mb-4"><img class="me-3" src="{% static 'img/home/intro_tv.png' %}" alt="" height="70" />
                    <div class="flex-1">
                    <h4>TradingView</h4>
                    </div>
                </div>
                <p>TradingView is the most used trading platform. We provide the most aesthetic version of our Algorithms there.</p><a class="btn btn-link ps-0 text-black fw-bold" href="https://www.tradingview.com">Official Website</a>
                </div>
                <div class="col-lg-6 pt-6 pt-lg-0 pe-lg-6">
                <div class="d-flex align-items-center mb-4"><img class="me-3" src="{% static 'img/home/intro_mt5.png' %}" alt="" height="70" />
                    <div class="flex-1">
                    <h4>MetaTrader 5</h4>
                    </div>
                </div>
                <p>MT5 is our best execution platform as it reduces the latency at the minimum possible.</p><a class="btn btn-link ps-0 text-black fw-bold" href="https://www.metatrader5.com">Official Website</a>
                </div>
            </div>
        </div>
        <!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->


    
    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="text-center" id="ecommerceFooter">

    <div class="container">
        <div class="row flex-center">
        <div class="col-lg-6"><a href="#!"><span class="fab fa-instagram text-black fs-1 mx-2"></span></a><a href="#!"><span class="fab fa-discord text-black fs-1 mx-2"></span></a><a href="#!"><span class="fab fa-telegram text-black fs-1 mx-1 mx-sm-2"></span></a>
            <div class="d-block mt-4 fs--1 fw-bold font-sans-serif"><a class="me-1 mx-sm-2 text-700" href="#!">Contact</a><a class="mx-1 mx-sm-2 text-700" href="#!">Terms of service</a><a class="mx-1 mx-sm-2 text-700" href="#!">Privacy policy</a></div>
        </div>
        </div>
    </div>
    <!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->


</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->



{% endblock content %}

