{% extends 'base.html' %}
{% load static %}
{% load compress %}

{% block content %}


<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main min-vh-100" id="top">


    <!-- ============================================-->
    <!-- Preloader ==================================-->
    <div class="preloader" id="preloader">
        <div class="loader">
        <div class="line-scale-pulse-out-rapid">
            <div> </div>
            <div></div>
            <div></div>
            <div></div>
            <div> </div>
        </div>
        </div>
    </div>
    <!-- ============================================-->
    <!-- End of Preloader ===========================-->


    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="py-0" id="page-profile">

        <div class="container-fluid">
        <div class="row">
            <div class="col-xl-7 px-0">
            <div class="sticky-top overflow-hidden min-vh-50 min-vh-xl-100">
                <div class="bg-holder" style="background-image:url({% static 'img/nbarlogo.jpg' %});" data-zanim-trigger="scroll" data-zanim-lg='{"animation":"zoom-out-slide-right","delay":0.4}'>
                </div>
                <!--/.bg-holder-->

            </div>
            </div>
            <div class="col-xl-5 bg-white py-6">
            <div class="row h-100 flex-center">
                <div class="col-lg-8">
                <div class="row justify-content-center" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <div class="col-md-10 col-lg-12">
                    <div class="overflow-hidden">
                        <h4 data-zanim-xs='{"delay":0.1}'>Welcome, {{user.username}}.</h4>
                    </div>
                    <div class="overflow-hidden">
                        <h6 class="text-700 fw-normal text-uppercase ls mb-4" data-zanim-xs='{"delay":0.2}'>MoneyMovesInvestments, member.</h6>
                        <br>
                        <br>
                        <h6>Are you sure you want to cancel?</h6>
                        
                    </div>
                    </div>
                    <div class="col-md-7 col-lg-12">
                    <div class="overflow-hidden">
                        <form class="mt-5" method="POST" action= {% url 'home:profile_cancel_sub' %}>
                            {% csrf_token %}
                            

                            <br>
                            <br>
                            <br>
                            <input class="btn btn-primary" type="submit" value="Yes">
                            <br>
                            

                        </form>
                        <br>
                        <input class="btn btn-primary" href="{% url 'home:profile' %}" value="No">
                        <br>

                        
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
        <!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->


</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->






{% endblock content %}